@model demo1.Models.Views.UserModel
@using demo1.CodeLogic.Helper
@using demo1.CodeLogic
@using demo1.CodeLogic.Enums
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    //var searchParam = ViewBag.SearchParam as demo1.CodeLogic.Commons.BlogParam ?? new demo1.CodeLogic.Commons.BlogParam();
    var user = Model.User;
    var baseStatus = Model.BaseStatus;
    var roles = Model.Roles;
}

<section class="wrapper">
    <h3><i class="fa fa-angle-right"></i>&nbsp;@ViewBag.Title</h3>
    <!-- BASIC FORM ELELEMNTS -->
    <div class="row mt">
        <div class="col-lg-12">
            <div class="form-panel">
                <h4 class="mb"><i class="fa fa-angle-right"></i> User information</h4>
                <form id="FormCrUser" class="quickSubmit form-horizontal style-form bv-form validateForm useScrollBar" action="@Model.Action" method="post">

                    <input type="hidden" name="ID" value="@user.ID" />
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            @Html.CusTextBox("crUsername", "Username", user.Username, "Username", "Username", false, true)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            @Html.CusTextBoxPassWord("crPassword", "Password", user.Password, "Password", "Password", false, true)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            @Html.CusTextBox("crName", "Name", user.Name, "Name", "Name", false, true)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Birthday</label>
                        <div class="col-sm-10">
                            @Html.CusTextBoxDateTimeDefault("crBirthday", "Birthday", Utils.DateToString(user.Birthday), "Birthday", "Birthday", false, new { @autocomplete = "off" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Phone</label>
                        <div class="col-sm-10">
                            @Html.CusTextBoxDigit("crPhone", "Phone", user.Phone, "Phone", "Phone", true)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            @Html.CusTextBoxEmail("crEmail", "Email", user.Email, "Email", "Email", false, false)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Address</label>
                        <div class="col-sm-10">
                            @Html.CusTextBox("crAddress", "Address", user.Address, "Address", "Address", false, false)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Status</label>
                        <div class="col-sm-10">
                            @Html.CusDropdownList("crStatus", "Status", "Choose Status", baseStatus.Select(x => new SelectListItem() { Text = x.Value, Value = x.Key.ToString(), Selected = x.Key == user.Status }), "Choose Status", true)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Role</label>
                        <div class="col-sm-10">
                            @*@Html.CustomDropdownListSelect2("crIDRols", "IDRole", null, roles.Select(x => new SelectListItem() { Text = x.Value, Value = x.Key.ToString(), Selected =  !user.IsNullOrEmpty() && user.IDRole == x.Key }), "Chọn quyền")*@

                            @Html.CustomDropdownListSelect2("crIDRole", "IDRole", "Choose Role",
                                roles.Select(x => new SelectListItem() { Text = x.Value, Value = x.Key.ToString(), Selected = !user.IsNullOrEmpty() && user.IDRole == x.Key }),
                                null, true, "Choose Role", true, "#render-Role", false, "/Admin/Autocomplete/RenderByUserRole")
                        </div>
                    </div>
                    <div id="render-Role">
                        @if (user.IDRole == (int)Enums.Role.Employee)
                        {
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Position</label>
                                <div class="col-sm-10">
                                    @Html.CusTextBox("crPosition", "Position", user.Position, "Position", "Position", false, true)
                                </div>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Avatar</label>
                        <div class="col-sm-10">
                            <div class=" text-left" style="padding-bottom:10px">
                                <div class="col-md-2 col-sm-12 text-center">
                                    @if (user.ID == 0)
                                    {
                                        <label class="btn btn-success btn-upload btn-sm" for="ipAvatar" title="Upload image file">
                                            <input class="sr-only" id="ipAvatar" name="file" type="file" accept="image/*">
                                            <input class="sr-only" id="PathImg" name="PathImg" type="hidden">
                                            Choose Image
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="btn btn-success btn-upload btn-sm" for="ipAvatar" title="Upload image file">
                                            <input class="sr-only" id="ipAvatar" name="file" type="file" accept="image/*">
                                            <input class="sr-only" id="PathImg" name="PathImg" type="hidden">
                                            Choose Image
                                        </label>
                                    }
                                </div>
                                <div class="col-md-3 col-sm-12">

                                    @if (user.ID == 0 || Utils.IsNullOrEmpty(user.PathImg))
                                    {
                                        <img style="max-width:  100%;display:block;margin:auto" id="ImgAvatar" class="img-thumbnail" src="/Assets/Admin/images/no-avatar.png">

                                        <input style="max-width:  100%;display:block;margin:auto;border:0" class="text-center" id="FileNameImg" name="FileNameImg" type="hidden" readonly>
                                    }
                                    else
                                    {
                                        <img style="max-width: 100%;display:block;margin:auto" id="ImgAvatar" class="img-thumbnail" src="@user.PathImg">
                                        <input style="max-width:  100%;display:block;margin:auto;border:0" class="text-center" id="FileNameImg" name="FileNameImg" type="text" readonly value="@user.FileNameImg" title="@user.FileNameImg">
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="text-right">
                                <a href="/user" class="btn btn-success " style="color:aliceblue; margin-right:2%">Cancel</a>
                                <button type="submit" class="btn btn-info ">@Model.Button</button>

                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <!-- col-lg-12-->
    </div>
</section>

@section css{

}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".cusleft-user").addClass("active");
            $(".cusleft-users").addClass("active-cus");
        })
        $("#ipAvatar").on("change", function () {
            var fileName = this.files[0].name;
            var oFReader = new FileReader();
            oFReader.readAsDataURL(this.files[0]);
            oFReader.onload = function (oFREvent) {
                $("#ImgAvatar").attr('src', this.result);
                $("#ImgAvatar").attr('title', fileName);
                $("#PathImg").val(this.result);
                $("#FileNameImg").val(fileName);
                $("#FileNameImg").attr("title", fileName);
                $("#FileNameImg").attr("type", "text");
            }
        });
    </script>
}

