@using demo1.Models.QrCode
@using demo1.CodeLogic.Enums
@using demo1.CodeLogic.Helper
@{
//var notifications = (List<Notification>)Session["Notifications"] ?? new List<Notification>();
//var notificationsShow = notifications.Take(5);
}
<header class="header black-bg">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <a href="/" class="logo"><b>QR&nbsp;<span>Code </span></b></a>
    <!--logo end-->

    <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
            <!-- settings start -->
            @*<li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                        <i class="fa fa-tasks"></i>
                        <span class="badge bg-theme">4</span>
                    </a>
                    <ul class="dropdown-menu extended tasks-bar">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li>
                            <p class="green">You have 4 pending tasks</p>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="task-info">
                                    <div class="desc">Dashio Admin Panel</div>
                                    <div class="percent">40%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="task-info">
                                    <div class="desc">Database Update</div>
                                    <div class="percent">60%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="task-info">
                                    <div class="desc">Product Development</div>
                                    <div class="percent">80%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="task-info">
                                    <div class="desc">Payments Sent</div>
                                    <div class="percent">70%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                        <span class="sr-only">70% Complete (Important)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="external">
                            <a href="#">See All Tasks</a>
                        </li>
                    </ul>
                </li>*@
            <!-- settings end -->
            <!-- notification dropdown start-->
            @*<li id="header_notification_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle">
                    <i class="fa fa-bell-o"></i>
                    @if (notifications.Count > 0)
                    {
                        <span class="badge bg-warning">@notifications.Count</span>
                    }
                    else
                    {
                        <span class="badge bg-warning"></span>
                    }
                </a>
                <ul id="notiContent" class="dropdown-menu pull-right extended notification">
                    <div class="notify-arrow  pull-right notify-arrow-yellow"></div>
                    <li>
                        <p class="yellow">Bạn có @notifications.Count thông báo mới</p>
                    </li>
                    @foreach (var item in notificationsShow)
                    {
                        <li class="readNotification @(!item.IsRead ? "background_noti" : "")" data-id="@item.ID" data-url="/Admin/Home/ReadNotification" data-type="item">
                            <a href="@item.Url">
                                @if (item.TypeStatusDisplay == (int)Enums.TypeStatusDisplay.Warning)
                                {
                                    <span class="label label-warning"><i class="fa fa-bell"></i></span>
                                }
                                else if (item.TypeStatusDisplay == (int)Enums.TypeStatusDisplay.Error)
                                {
                                    <span class="label label-error"><i class="fa fa-bell"></i></span>
                                }
                                else
                                {
                                    <span class="label label-success"><i class="fa fa-bell"></i></span>
                                }
                                <span style="white-space:normal">
                                    @item.Contents
                                </span>
                                <span class="small italic">@NotificationHelper.GetTimeBack(item.Created).</span>
                            </a>
                        </li>
                    }
                    <li>
                        <a href="/notification">Xem tất cả thông báo >></a>
                    </li>
                </ul>
            </li>*@
            <!-- notification dropdown end -->
            <!-- inbox dropdown start-->
            <li id="header_inbox_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                    <i class="fa fa-cog"></i>
                </a>
                <ul class="dropdown-menu pull-right extended inbox">
                    <div class="notify-arrow notify-arrow-green"></div>
                    <li>
                        <p class="green">System</p>
                    </li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </li>
            <!-- inbox dropdown end -->
        </ul>
        <!--  notification end -->
    </div>



    <!--<div class="top-menu" id="top-logout">
        <ul class="nav pull-right top-menu">
            <li>
                <div class="btn-group dropup" style="margin: 15px 15px 0px 0px;">
                    <a href="#" data-toggle="dropdown" class="btn btn-success btn-sm dropdown-toggle" style="background: #4ECDC4">
                        <i class="fa fa-cog" style="font-size:18px; margin:0"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-blue dropdown-menu-right" style="top:100%;bottom:auto;">
                        <li><a href="/profile">Thông tin cá nhân</a></li>
                        <li><a href="/logout">Đăng xuất</a></li>
                    </ul>
                </div>
            </li>-->
    @*<li><a class="logout" href="/logout">Đăng xuất</a></li>*@
    <!--</ul>
    </div>-->
</header>

