@model demo1.Models.Views.LeaveModel
@using demo1.CodeLogic.Customs
@using demo1.CodeLogic
@using demo1.CodeLogic.Enums
@using demo1.Models.QrCode
@{
    var leaves = Model.Leaves;
    var user = Model.User;
    var baseStatus = Model.BaseStatus;
    var deleteLink = "/Admin/Leave/IsDelete";
}

<table class="table table-striped table-bordered table-advance table-hover">
    <thead>
        <tr>
            <th class="text-center">Order</th>
            <th class="text-center">Title</th>
            <th class="text-center">Start Date</th>
            <th class="text-center">End Date</th>
            <th class="text-center">Status</th>
            <th class="text-center">Created</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (leaves.Count > 0)
        {
            var Order = ViewBag.Paging.PageStart;
            foreach (var item in leaves)
            {
                Order++;
                <tr>
                    <td class="text-center">@Order</td>
                    <td class="text-center">@item.Title</td>
                    <td class="text-center">@Utils.DateToString(item.StartDate)</td>
                    <td class="text-center">@Utils.DateToString(item.EndDate)</td>
                    <td class="text-center">@Html.Raw(baseStatus.GetValueLeaveHtml(item.Status))</td>
                    <td class="text-center">@Utils.DateTimeToString(item.Created)</td>
                    <td class="text-center">
                        <a class="btn btn-primary btn-xs" href="@string.Format("/leave/update/{0}",item.ID)">
                            <i aria-hidden="true" title="@string.Format("Update")" class="fa fa-pencil"></i>
                        </a>
                        @if (new int[] { (int)Enums.StatusLeave.Created, (int)Enums.StatusLeave.Reject }.Contains(item.Status))
                        {
                            <a class="quickDelete btn btn-danger btn-xs" style="color:aliceblue" data-target=".ui-dialog:visible" data-id="@item.ID" href="@deleteLink">
                                <i aria-hidden="true" title="@string.Format("Delete")" class="fa fa-trash-o"></i>
                            </a>
                        }

                    </td>

                </tr>
            }

        }

    </tbody>
</table>
<div class="row DTTTFooter">
    @if (leaves.Count <= 0)
    {
        <div class="dataTables_info col-sm-12 text-center padt10">
            <strong class="gray">
                @string.Format("There are no records")
            </strong>
        </div>
    }
    else
    {
        <div class="col-md-3">
            <div class="dataTables_info text-center" id="searchable_info" role="status" aria-live="polite">
                <div>
                    <strong class="gray">
                        @string.Format("There are total {0} records", ViewBag.Paging.Total)
                    </strong>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-sm-3 ">
            @ViewBag.Paging.RenderAdmin("#div-Leaves")
        </div>
    }
</div>


